  

  <!-- {{allEmployees|json}} -->
  <div class="container-fluid g-5 p-5">
    <div class="head text-center m-5 text-primary">
      <h1>Employee details</h1>
    </div>
    <div class="col-md-10 text-center">
      <span class="name">{{employee.fullname}}</span>
    </div>
    <div class="row g-0" >
      
      <div class="col-md-2 d-flex justify-content-center align-items-center">
        <img [src]="employee.image" width="400px" height="300px" alt="">
      </div>
  
      <div class="col ps-2">
          <div class="row g-0" >
            <div class="col-md-10 text-center">
              <span class="name"></span>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <div class="btn-grp" role="group">
                  
                  <button type="button" class="btn btn-outline-danger" routerLink="">Delete</button>
                </div>
            </div>
          </div>
          <div class="row g-0 mt-3">
              <div class="col-md">
                  <table class="table table-hover mx-auto">
                    <thead class="text-center fs-5 fst-italic text-secondary">
                        <tr>
                          <td colspan="2">personal details</td>
                        </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Birthdate</td>
                      <td>{{employee.birthdate}}</td>
                    </tr>
                    <tr>
                      <td>gender</td>
                      <td>{{employee.gender}}</td>
                    </tr>
                    <tr>
                      <td>Education</td>
                      <td>{{employee.education}}</td>
                    </tr>
                  </tbody>
                  </table>
              </div>
              <div class="col">
                <table class="table table-hover mx-auto">
                  <thead class="text-center fs-5 fst-italic text-secondary">
                      <tr>
                        <td colspan="2">job details</td>
                      </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Company</td>
                    <td>{{employee.company}}</td>
                  </tr>
                  <tr>
                    <td>Experience</td>
                    <td>{{employee.jobExperience}}</td>
                  </tr>
                  <tr>
                    <td>Salary</td>
                    <td>{{employee.salary}}</td>
                  </tr>
                </tbody>
                </table>
              </div>
             
      </div>
    </div>
    
  
  </div>
  <div class="add ">
    <button type="button" class="btn btn-outline-success btn-lg" routerLink="/employeeMain">  back home</button>
  </div>
</div>
  
  
  